{% extends '_layouts/base.html' %}

{% block headline %}<h1>Welcome to Discovery Learning Apprenticeship program</h1>{% endblock headline %}

{% block content %}
<p>Hello {% if user.is_authenticated %} {{ user.username }}{% endif %}!</p>
{% endblock %}


{% block info %}
<p>
    Whether helping develop new diagnostic techniques for heart disease, or detecting the effects of nuclear waste,
    discovery learning apprentices make the most of their time at CU Boulder by supplementing classroom instruction with
    real-world engineering experience.
</p>
<p>
    The College of Engineering and Applied Science is pleased to offer research opportunities (Discovery Learning
    Apprenticeships) in fall 2016 and spring 2017 for undergraduate engineering students. You could be one of
    approximately 75 apprentices who will be funded at $12/hour up to $3,600 annually. Earn money and gain valuable,
    resume-worthy experience while working with graduate students and faculty on fascinating projects!
    Prior to submitting an application, you are encouraged to contact the supervisors of the projects in which you are
    interested in order to obtain more information. Please be aware, however, that these supervisors do not make the
    final hiring decision. You can find detailed project descriptions online by viewing the 2016-2017 advertised
    apprenticeships (these will be posted by April 1st, 2016).
</p>
<p>
    As an undergraduate discovery learning apprentice, you’ll work alongside graduate students, post-doctoral fellows,
    faculty, and industry representatives, as collaborative partners on original research. We find that students bring a
    fresh perspective to the research team while also learning from their more experienced partners
</p>
<p>If you are a new user, please click on register. If you are an existing user, please login to continue.
</p>

{% endblock %}
