
<html>
<head>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
}

table {
    width:100%;
}

table#tab tr:nth-child(even) {
    background-color: #e6e6e6;
}
table#tab  tr:nth-child(odd) {
   background-color: #cccccc;
}
 th  {
    font-size: 18px;
    background-color: #595959;
    color: white;
}

th, td {
    padding: 5px;
}


body{

	background:url('/static/dlcapp/images/background.jpg');
	font-size: 20px;
	overflow-y: static;
}

h1 {
	font-family: "Lucida Console";
	font-size: 40px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	padding: 25px;
	padding-bottom : 10px;

}

</style>
<script>
function filter()
{

document.forms["contactform"].submit();
}
</script>
  </head>
<body>
<div>
<center><h1>LIST OF PROJECTS AVAILABLE</h1></center>
    <table border=\"1px\" align=\"center\">
    </table>
    </div>
<div  class="form">
    	<form id="contactform" action="/listOfProjects/">
				<fieldset>
                 <label>Filter by: Departments applicable: </label>
                  <label class="major">
                  <select class="select-style" name="depts_applicable" onchange=filter() required="" >
                 	<!-- option selected="selected" value="0">Please Select</option> -->
					<option value="" >Please Select</option>
					<option value="ALL_DEP" >Any departments</option>
					<option value="ASEN">Aerospace Engineering</option>
					<option value="AMEN">Applied Mathematics</option>
					<option value="AREN">Architectural Engineering</option>
					<option value="CHEN">Chemical Engineering</option>
					<option value="CBEN">Chemical and Biological Engineering</option>
					<option value="CVEN">Civil Engineering</option>
					<option value="CSEN">Computer Science</option>
					<option value="EEEN">Electrical Engineering</option>
					<option value="ECEN">Electrical and Computer Engineering</option>
					<option value="EPEN">Engineering Physics</option>
					<option value="EVEN">Environmental Engineering</option>
					<option value="GEEN">Engineering Plus</option>
					<option value="MCEN">Mechanical Engineering</option>
					<option value="TMEN">Technology, Arts, and Media</option>
                  </label>
                 </select>
              </fieldset>
<fieldset>
                 <label>Filter by: Department offering: </label>
                  <label class="major">
                  <select class="select-style" name="department_offered" onchange=filter() required="" >
                 	<!-- option selected="selected" value="0">Please Select</option> -->
					<option value="" >Please Select</option>
					<option value="ALL_DEP" >Any departments</option>
					<option value="ASEN">Aerospace Engineering</option>
					<option value="AMEN">Applied Mathematics</option>
					<option value="AREN">Architectural Engineering</option>
					<option value="CHEN">Chemical Engineering</option>
					<option value="CBEN">Chemical and Biological Engineering</option>
					<option value="CVEN">Civil Engineering</option>
					<option value="CSEN">Computer Science</option>
					<option value="EEEN">Electrical Engineering</option>
					<option value="ECEN">Electrical and Computer Engineering</option>
					<option value="EPEN">Engineering Physics</option>
					<option value="EVEN">Environmental Engineering</option>
					<option value="GEEN">Engineering Plus</option>
					<option value="MCEN">Mechanical Engineering</option>
					<option value="TMEN">Technology, Arts, and Media</option>
                  </label>
                 </select>
              </fieldset>
</form>
</div>
    <table id="tab">
     <tr>
    <th>Faculty Name</th>
   <th>Faculty Phone</th>
   <th>Faculty Email</th>
   <th>Department Offering</th>
   <th>Project Title</th>
   <th>Project Link</th>
   <th>Project Requirments</th>
   <th>Project Description</th>
   <th>Departments Applicable</th>
   <th>Supervision</th>
   <th>Supervision_by</th>
   <th>Nature of Work</th>
    </tr>
    {% for item in query_results %}
	<tr>
        <td> {{ item.faculty_name }} </td>
        <td> {{ item.faculty_phone }} </td>
        <td> {{ item.faculty_email }} </td>
        <td> {{ item.faculty_dept }} </td>
        <td> {{ item.title }} </td>
        <td> {{ item.url_link }} </td>
        <td> {{ item.special_req }} </td>
        <td> {{ item.long_description }} </td>
        <td> {{ item.depts_applicable }} </td>
        <td> {{ item.amount_of_supervision }} </td>
        <td> {{ item.supervision_by }} </td>
        <td> {{ item.nature_of_work }} </td>
	</tr>

    {% endfor %}
</table>
    </body>