{% load static %}
<html>
<head>
<title>Discovery Learning Apprenticeship Student Application</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dlcapp/css/style_demo.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'dlcapp/css/style_form.css' %}" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#prim_major").change(function(){
        dep=document.getElementById('prim_major').value
        
        $.ajax({url: "/filterStudentForm/?dept_choosen="+dep, success: function(result){

            var projects=result.split(',')
            var data="<select class=\"select-style\" name=\"major\">"
             data+="<option value=\"NA\">NA</option>"
            for(i=0;i<projects.length;i++)
            {
              data+="<option value=\"" + projects[i] +"\">" + projects[i] + "</option>"
            }
            data+="</select>"
            //alert(data)
            div = "#selection"
            str = "project"
            for (i=1;i<6;i++)
            {
            	proj_name = str + i
            	data1 = data.replace("major", proj_name)
            	$(div + i).html(data1);
            }
        }});
    });
});
</script>
</head>

<body>
<div class="container">
			<!-- DLA top bar -->
            <div class="DLA-top">
                <a href="{%url 'user'%}" target="_self">Home</a>
                <span class="right">
                    <a href="{%url 'Logout'%}">
                        <strong>Logout</strong>
                    </a>	
                </span>
                <div class="clr"></div>
            </div><!--/ DLA top bar -->
			<header>	
				<h1>Discovery Learning Apprenticeship Program - Student Application</h1>
            </header>
	<p class=" intro"><strong>
	 By April 30th, 2016, complete the application below and upload a resume and a cover letter in two separate documents. Applications will not be accepted after the April 30th deadline. Applicants will be notified in early June 2016 as to whether they were selected for the program.
     </strong><br>
		<br><strong>
		If you have any questions or concerns about Discovery Learning Apprenticeships or your application, please contact Sharon Anderson at
		<a target="_blank" style="color: rgb(17, 85, 204); font-family: Calibri, sans-serif; font-size: 14.4444446563721px; font-style: normal; font-variant: normal;
		font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none;
					white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);" href="mailto:sharon.e.anderson@colorado.edu">
					sharon.e.anderson@colorado.edu</a></strong>
     <br>
		<br>
	</p>

	<div  class="form">
    	<form id="contactform" method="GET" action="/register/">
				<p class="FormMain"><label for="in">Note that * denotes a required field</label></p>
				<p class="FormMain"><label for="Demo"><strong><span style="font-size: 12pt">Demographic Information</strong></label></p>

    			<p class="contact"><label for="name">* Name</label></p>
    			<input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text">

    			<p class="contact"><label for="email">* Email</label></p>
    			<input id="email" name="email" placeholder="example@domain.com" required="" type="email">

				<p class="contact"><label for="gender">* Gender</label></p>
				<input id="gender" type="radio" name="gender" value="male" tabindex="1" required > Male
				<input id="gender" type="radio" name="gender" value="female" >   Female<br>

				<p class="contact"><label for="Origin">Are you Hispanic, Chicano, Mexican, Latino, Cuban, Puerto Rican, <br> South or Central American, or Spanish Origin?</label></p>
				<input id="origin" type="radio" name="origin" value="male" tabindex="1" required > Yes <br>
				<input id="origin" type="radio" name="origin" value="female"> No <br>
				<input id="origin" type="radio" name="origin" value="female"> I do not wish to share the information<br>

				<p class="contact"><label for="race">Please check your race (select all that apply):</label></p>
				<input id="check0" type="checkbox" name="check0" /> American Indian or Alaskan Native<br>
				<input id="check1" type="checkbox" name="check1" /> Black or African-American<br>
				<input id="check2" type="checkbox" name="check2" /> Native Hawaiian or other Pacific Islander<br>
				<input id="check3" type="checkbox" name="check3" /> Asian<br>
				<input id="check4" type="checkbox" name="check4" /> White<br>
				<input id="check5" type="checkbox" name="check5" /> Other<br>
				<input id="check6" type="checkbox" name="check6" /> Do Not Wish to Provide<br><br>

				<p class="contact"><label for="Baddress"><span style="font-size: 12pt">Boulder Information</label></p>

				<p class="contact"><label for="Baddress">* Boulder Address</label></p>
				<textarea rows="2" cols="55" input id="address" name="address" id="address" placeholder="Address" required="" ></textarea>

				<p class="contact"><label for="phone">* Mobile phone</label></p>
				<input id="phone" name="phone" placeholder="phone number" required="" type="number"> <br><br>

				<p class="contact"><label for="Baddress"><span style="font-size: 12pt">Summer Information</label></p>

				<p class="contact"><label for="Baddress">Summer Address</label></p>
				<textarea rows="2" cols="55" input id="address" name="address" id="address" placeholder="Address"></textarea><br>

				<p class="contact"><label for="phone">Summer phone</label></p>
				<input id="phone" name="phone" placeholder="phone number" type="number"> <br>

                <p class="contact"><label for="username">Summer email</label></p>
    			<input id="email" name="email" placeholder="example@domain.com" type="email"> <br><br>

				<p class="acad"><label for="Baddress"><span style="font-size: 12pt">Academic Information</label></p>
				<p class="acad">Please carefully enter your academic information.<br> Indicate which major you plan to enter.</p>

				<p class="contact"><label for="studno">* Student Number</label></p>
    			<input id="Studentno" name="studno" placeholder="#########" required="" type="number">

				<fieldset>
                 <label>* Primary major </label>
                  <label class="major">
                  <select class="select-style" name="major" id="prim_major" required="" >
                 	<!-- option selected="selected" value="0">Please Select</option> -->
					<option value="" >Please Select</option>
					<option value="ASEN">Aerospace Engineering</option>
					<option value="AMEN">Applied Mathematics</option>
					<option value="AREN">Architectural Engineering</option>
					<option value="CHEN">Chemical Engineering</option>
					<option value="CBEN">Chemical and Biological Engineering</option>
					<option value="CVEN">Civil Engineering</option>
					<option value="CSEN">Computer Science</option>
					<option value="EEEN">Electrical Engineering</option>
					<option value="ECEN">Electrical and Computer Engineering</option>
					<option value="EPEN">Engineering Physics</option>
					<option value="EVEN">Environmental Engineering</option>
					<option value="GEEN">Engineering Plus</option>
					<option value="MCEN">Mechanical Engineering</option>
					<option value="TMEN">Technology, Arts, and Media</option>
                  </label>
                 </select>
              </fieldset><br>

				 <fieldset>
                 <label>Secondary major </label>
				 <span style="font-size: 10pt">(Only if you have a <strong>double major</strong>)</span><br>
                  <label class="major">
                  <select class="select-style" name="major">
                 	<option selected="selected" value="0">Please Select</option>
					<option value="ASEN">Aerospace Engineering</option>
					<option value="AMEN">Applied Mathematics</option>
					<option value="AREN">Architectural Engineering</option>
					<option value="CHEN">Chemical Engineering</option>
					<option value="CBEN">Chemical and Biological Engineering</option>
					<option value="CVEN">Civil Engineering</option>
					<option value="CSEN">Computer Science</option>
					<option value="EEEN">Electrical Engineering</option>
					<option value="ECEN">Electrical and Computer Engineering</option>
					<option value="EPEN">Engineering Physics</option>
					<option value="EVEN">Environmental Engineering</option>
					<option value="GEEN">Engineering Plus</option>
					<option value="MCEN">Mechanical Engineering</option>
					<option value="TMEN">Technology, Arts, and Media</option>
                  </label>
                 </select>
              </fieldset><br>


				<label>* GPA&nbsp <input class="gpa" maxlength="3" name="GPA" placeholder="0.0" required=""></label><br>
               <!-- <label>* Year <input class="listGradYear" maxlength="4" name="GradYear" placeholder="Year" required=""></label><br> -->

				<label>* Level in School as of next fall</label>
                 <label class="Level">
				 <select class="select-style"  name="listGradYear " required="" >
					<option value="" >Please Select</option>
					<option value="select">Level </option>
					<option value="Freshman">Freshman</option>
					<option value="Sophomore">Sophomore</option>
					<option value="Junior">Junior</option>
					<option value="Senior">Senior</option>
					<option value="5th year Senior">5th Year Senior</option>
				</select>
			<fieldset><br>

				<label>Graduation Year</label>
                 <label class="major">
				 <select class="select-style"  name="listGradYear" required="">
				 <option value="" >Year</option>
					<!-- <option value="select">Year</option> -->
					<option value="2016">2016 </option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
				</select>
			</fieldset><br><br>

				  <p class="contact"><label for="Exp">Do you have previous research experience? </label></p>
				<input id="exp" type="radio" name="exp" value="male" tabindex="1" > Yes
				<input id="exp" type="radio" name="exp" value="female"><label for="Exp"> No </label> <br><br>


				  <p class="contact"><label for="Exp"><span style="font-size: 12pt">Apprentice Information </label></p>

				 <p class="contact"><label for="DLA">Have you applied for a Discovery Learning Apprenticeship before?</label></p>
				<input id="dla" type="radio" name="dla" value="Yes" tabindex="1" > Yes
				<input id="dla" type="radio" name="dla" value="No"> No
				<input id="dla" type="radio" name="dla" value="NS"> Not sure<br>

				<p class="contact"><label for="Baddress">Other fall employment planned</label></p>
				<textarea rows="2" cols="55" input id="address" name="address" id="address" placeholder=""></textarea><br>

				<fieldset>
                 <label>Indicate upto five research projects in order of interest </label><br><br>
                  <label class="project1">
                  	<div id="selection1">
						<select class="select-style" name="project1"><option selected="selected" value="0">Please Select</option></select>
					</div>
                  </label>
                 </select>
              </fieldset> <br>
			  <fieldset>
			  <label class="project2">
					<div id="selection2">
						<select class="select-style" name="project2"><option selected="selected" value="0">Please Select</option></select>
					</div>
			  </label>
              </fieldset> <br>
			  <fieldset>
			  <label class="project3">
					<div id="selection3">
						<select class="select-style" name="project3"><option selected="selected" value="0">Please Select</option></select>
					</div>
			  </label>
              </fieldset> <br>
			  <fieldset>
			  <label class="project4">
					<div id="selection4">
						<select class="select-style" name="project4"><option selected="selected" value="0">Please Select</option></select>
					</div>
			  </label>
              </fieldset> <br>
			  <fieldset>
			  <label class="project5">
					<div id="selection5">
						<select class="select-style" name="project5"><option selected="selected" value="0">Please Select</option></select>
					</div>
			  </label>
              </fieldset> <br> <br>
				 <fieldset>
				<p class="contact"><label for="check">Have you had a background check yet (at CU)? <br>If yes when? (Take your best guess if you aren't sure.)</label></p>
				<input id="check" type="radio" name="check" value="Yes" tabindex="1" > Yes
				<input id="check" type="radio" name="check" value="No"> No
				<input id="check" type="radio" name="check" value="NS"> Not sure<br>
				</fieldset>

				</fieldset>
				 <p class="contact"><label for="training">Have you had Discrimination and Harassment Awareness training yet (at CU)?<br> If yes when? (Take your best guess if you aren't sure.)</label></p>
				<input id="training" type="radio" name="training" value="Yes" tabindex="1" > Yes
				<input id="training" type="radio" name="training" value="No"> No
				<input id="training" type="radio" name="training" value="NS"> Not sure<br>

				 <label>Last four digits of your SSN&nbsp <input class="gpa" maxlength="4" name="SSN" placeholder="0000" required=""></label>

				 <p class="contact"><label for="Origin"><span style="font-size: 12pt">Skills resume and cover letter</label></p>

				 <p class="contact"><label for="Origin">Please list the three skills or qualifications that you feel make you a great candidate<br> for the positions you selected:
	(Could be knowledge of a programming language,<br> knowledge of a field, courses taken, personal characteristics, etc. If appropriate,<br> note your match to requirements in job description. <br>Please note responses are limited to 75 characters.)</label></p>

                <p class="contact"><label for="writeup">1 </label></p>
    			<input type="text" id="writeup1" name="writeup" >
                <p class="contact"><label for="writeup2">2</label></p>
    			<input type="text" id="writeup2" name="writeup2" >
				<p class="contact"><label for="writeup2">3</label></p>
    			<input type="text" id="writeup3" name="writeup3" > <br><br>

				<label>Resume</label>
				<input type="file" name="resumeupload" id="resumeupload" onclick="Submit_Click" /><br>
				<label>Cover Letter&nbsp</label>
				<input type="file" name="coverletterupload" id="coverletterupload" onclick="Submit_Click" /><br>

<p>
     (Please ensure that all information is correct before submitting your application. <br>
					 You will not be able to return to this page to make changes or corrections)</p>
<br>


            <input class="button" name="submit" id="submit" tabindex="5" value="SUBMIT!" type="submit">

   </form>
<p>

</p>
</div>      
</div>

</body>
</html>
