<html>
<head>
  </head>
<center><marquee><h1>PROJECTS IN DATABASE</h1></marquee></center><table border=\"1px\" align=\"center\">"
<tr>
    <th>Project Title</th>
    <th>Best Studet Match</th>
   <th>Override Selection</th>
   <th>CLick save to override<th>
</tr>    

{% for item in query_results %}
 <form method='GET' action='/modifyMapping/'>
        <tr>
        <td> {{ item.title }} </td>
	<td> {{item.student_selected }} </td>
	<td>
          <input type="hidden" name="project_title" value="{{ item.title }}" >
           <select class="select-style" name="student_choice"  >
	<label class="major">
			<option selected="selected" value="0">Please Select</option>
		{% for person in item.student %}
		<option name="student_choice" value="{{person.name}}"> {{person.name}} </option>
		{% endfor %}
		 </label>
                 </select>
	</td>
        <td><input type="submit" value="Save"></td>
        </tr>
</form>
    {% endfor %}
</html>

