input {
  height:41px;
  font-size:21pt;
   }
button {
  height:50px;
  font-size:12pt;
  width: 25%;
  margin-bottom: 10px

  }
  input:hover
  {
  border:1px solid #999;
  border-radius:6px;
  color:red;
  }
  body {
    background: white url('/static/dlcapp/images/uc.jpg') no-repeat;
}
#about
{
font-size:40px;
background-color:white;
width : 400px;
height : 600px;
opacity : 0.9;
margin: 200px auto  auto;
font-size:20;
}

#about1
{
font-size: 28px;
color: white;
background-color:none;
opacity: 0.9;
margin: 50px;
width: 400px;
height: 300px;
}

li
{
display: inline
}

